html {
    background-color: $colorBackground;
    color: $colorMain;
    // height: 100%;
}

body {
    padding: 10px 4px 10px 4px;

    &.no-padding {
        height: 100%;
        padding: 10px 0 0 0;
    }
}

section {
    // margin-top: 10px;
}

.logo {
    width: 100%;
    height: 92px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin-top: 4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

    &.intro {
        padding: 4px 15px 4px 15px;
        margin-bottom: 10px;
    }
}

.standardButton {
    display: block;
    background-color: $colorMain;
    color: $colorWhite;
    border: 1px solid $colorMain;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.overlayWrapper {
    width: 97.5%;
    position: absolute;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
}