.warningOverlay,
.helpOverlay {
    position: relative;
    background-color: $colorWhite;
    border: 2px solid $colorMain;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;

    padding: 10px 20px 10px 20px;
    z-index: 100;

    p,
    h2 {
        text-align: left;
    }

    .overlayClose {
        @include appearanceReset;
        width: 25px;
        height: 25px;
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 15px;
        color: $colorMain;
    }

    .overlaySmiley {
        font-size: 40px;
        font-style: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .overlayHeadline {
        // margin-top: 10px;
        font-size: 17px;
        font-weight: bold;
    }

    .overlayParagraph {
        margin-top: 5px;

        a {
            text-decoration: underline;
            font-weight: bold;
            color: $colorMain;
        }
    }
}

.warningOverlay {
    max-width: 280px;
}

.sectionMoreInfo {
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    margin-top: 15px;
    margin-bottom: 15px;
}

.helpButton {
    @include appearanceReset;

    &:active {
        color: $colorHelpButtonActive;
        border-color: $colorHelpButtonActive;
    }

    &.keyboardHelp {
        position: absolute;
        float: left;
        top: 30px;
        right: 15px;
        font-size: 20px;
        width: 30px;
        height: 30px;
        padding-left: 1px; //This makes the question mark appear nicely positioned
        color: $colorHelpButton;
        border: 2px solid $colorHelpButton;
        border-radius: 16px;
    }

    &.moreInfo {
        text-decoration: underline;
        color: $colorHelpButtonActive;
    }
}