/**
 * COLORS
 */

$colorMain: rgba(44,34,80,1);
$colorWhite: #ffffff;
$colorBlack: #000000;
// $colorBackground: #f1fffc; // light blue
// $colorBackground: #E7D9CB; // light brown
$colorBackground: #dedede; // light grey
$colorKeyboardBackground: #522801;
$colorKeyMetal: #c4a98d;
$colorKeyString: #ca0404;
$colorKeyCenter: #bda287;
$colorKeyCenterBorder: #887561;
$colorDrumOuter: #f3f3f3;
$colorDrumInner: #d6d6d6;
$colorDrumBorder: #cecece;
$colorRattle: #f3f3f3;
$colorRattleBorder: #000000;
$colorHelpButton: rgba(44,34,80,0.5); //$colorMain but with alpha = 0.5
$colorHelpButtonActive: $colorMain;