/**
 * COLORS
 */

$colorMain: #2c2250;
$colorWhite: #ffffff;
$colorBlack: #000000;
// $colorBackground: #f1fffc; // light blue
$colorBackground: #E7D9CB; // light brown
$colorKeyboardBackground: #522801;
$colorKeyMetal: #c4a98d;
$colorKeyString: #ca0404;
$colorKeyCenter: #bda287;
$colorKeyCenterBorder: #887561;
$colorDrumOuter: #f3f3f3;
$colorDrumInner: #d6d6d6;
$colorDrumBorder: #cecece;